---
pageable: true
per_page: 10
---

.container
  .text-center.center-block
    %p
      = image_tag('https://dl.dropboxusercontent.com/u/3483627/assets/twitter.svg')
      %a{href: 'https://twitter.com/ayemos_y'} ayemos_y
    %p
      = image_tag('https://dl.dropboxusercontent.com/u/3483627/assets/facebook.svg')
      %a{href: 'https://facebook.com/yuichiro.someya'} yuichiro.someya
    %p
      = image_tag('https://dl.dropboxusercontent.com/u/3483627/assets/octocat.svg')
      %a{href: 'https://github.com/ayemos'} ayemos
    %p
      = image_tag('https://dl.dropboxusercontent.com/u/3483627/assets/speakerdeck.svg')
      %a{href: 'https://speakerdeck.com/ayemos'} ayemos
    %p
      = image_tag('https://dl.dropboxusercontent.com/u/3483627/assets/cookpad.svg')
      %a{href: 'https://cookpad.com/kitchen/14570720'} ayemos
    %p
      = image_tag('https://dl.dropboxusercontent.com/u/3483627/assets/medium.svg')
      %a{href: 'https://medium.com/@ayemos/'} ayemos
