---
pageable: true
per_page: 10
---


.media-container
  .profile-header.d-flex.flex-wrap.align-items-center
    %div
      .profile-header-name.mb-2
        ayemos [Yuichiro Someya]
      .profile-header-icons.d-flex
        .profile-header-icon-twitter
          %a.animated-link{href: 'https://twitter.com/ayemos_y'}
            = image_tag('twitter.png')
        .profile-header-icon-facebook
          %a.animated-link{href: 'https://facebook.com/yuichiro.someya'}
            = image_tag('facebook.png')
        .profile-header-icon-github
          %a.animated-link{href: 'https://github.com/ayemos'}
            = image_tag('github.png')
        .profile-header-icon-medium
          %a.animated-link{href: 'https://medium.com/@ayemos'}
            = image_tag('medium.png')
        .profile-header-icon-mail
          %a.animated-link{href: 'mailto:me@ayemos.me'}
            = image_tag('mail.png')
    .profile-header-portrait
.w-100.delimiter.delimiter-01
.media-container
  .d-flex.flex-wrap.align-items-center
    .group-experience.mr-auto
      %h2.mb-3
        Experiences
      .item-experience.mb-3
        .item-experience-header.mb-3
          %h3.mb-1
            フリーランスエンジニア
          .item-experience-date
            2019年4月 ~
        .item-experience-body
      .item-experience.mb-3
        .item-experience-header.mb-3
          %h3.mb-1
            ソフトウェアエンジニア - クックパッド株式会社
          .item-experience-date
            2016年4月 ~ 2019年3月
        .item-experience-body
          %p
            * 機械学習基盤の構築と整備
            %br/
            * 料理写真の画像検索に関する研究開発
    .group-aws
      .aws-certified-logo
        = image_tag('AWS_Certified_Logo_SAA_294x230_Color.png')
      .aws-certified-tag
        = image_tag('AWS_Certified_Tag__SAA_588x300-Color.png')
      .aws-certified-tag
        = image_tag('AWS_Certified_Tag__DVA_588x300-Color.png')
.w-100.delimiter.delimiter-02
.media-container
  .group-presentation.mb-4
    %h2.mb-3
      Presentations
    .d-flex.flex-wrap.justify-content-between
      .item-presentation.mb-2
        .relative-16-9
          <iframe src="https://www.youtube.com/embed/Jw9CpQkCvpM?start=1936" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      .item-presentation.mb-2
        .relative-16-9
          <iframe src="https://www.youtube.com/embed/WzBW-92PsMQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  .group-slide
    %h2.mb-3
      Slides
    .d-flex.flex-wrap.justify-content-between.align-items-center
      .item-slide.mb-2
        .relative-16-9
          <script async class="speakerdeck-embed" data-id="48cbbbb2f208464ea81ec5ff22df447c" data-ratio="1.77777777777778" src="//speakerdeck.com/assets/embed.js"></script>
      .item-slide.mb-2
        .relative-16-9
          <script async class="speakerdeck-embed" data-id="07bee5ddeb0e4283a683aef047a08c75" data-ratio="1.77777777777778" src="//speakerdeck.com/assets/embed.js"></script>
      .item-slide.mb-2
        %p
          more slides on
          %a.animated-link{href: "https://speakerdeck.com/ayemos"}
            https://speakerdeck.com/ayemos
.w-100.delimiter.delimiter-03
.media-container
  .group-publication.mb-4
    %h2.mb-3
      Media & Publications
    %p
      %a.animated-link{href: "https://employment.en-japan.com/engineerhub/entry/2018/10/30/110000"}
        * データサイエンティストの定義は？必要スキルは？現役データエンジニア／アナリストと考えた結論 (エンジニアHub 2018/10/30)
    %p
      %a.animated-link{href: "https://zine.qiita.com/event-report/qiita-x-microsoft-meetup/"}
        * テーマは『Machine Learning(機械学習)』Qiita × Microsoft 共催 MeetUp レポート (Qiita:Zine 2018/05/23)
    %p
      %a.animated-link{href: "https://logmi.jp/293708"}
        * 機械学習を取り入れた組織・サービスにおいて発生しがちな問題と、その解決方法 (ログミーTech 2018/03/23)
    %p
      %a.animated-link{href: "https://kaigi.org/jsai/webprogram/2017/paper-740.html"}
        * クックパッドにおけるDeep Learningを用いた料理画像判別の取り組み (2017年度 人工知能学会全国大会)
    %p
      %a.animated-link{href: "http://itpro.nikkeibp.co.jp/atcl/column/17/052600214/060100007/"}
        * クックパッド、料理写真の自動抽出を支える「機械学習基盤」を解説 (ITPro 2017/06/01)
    %p
      %a.animated-link{href: "https://employment.en-japan.com/engineerhub/entry/2017/03/24/110000"}
        * 機械学習の取り組みを次々と実装！ クックパッドの“即戦力”新卒エンジニアが活躍できる背景とは(エンジニアHub 2017/04/24)
.w-100.delimiter.delimiter-04
.media-container
  .copyright.my-2
    © 2019 Yuichiro Someya. all rights reserved

