---
pageable: true
per_page: 10
---

.container#profile
  .row
    .col-lg-12
      .text-center
        %h1
          ayemos[ai-mos]
        %h2
          Yuichiro Someya
        %p
          Research Engineer at Cookpad Inc. (
          %a{href: 'https://cookpad.com/'} JP
          \/
          %a{href: 'https://cookpad.com/us'} US )
        %p
          Tokyo, Japan
        %p.id-links
          %a{href: 'https://twitter.com/ayemos_y'}
            = image_tag('twitter.svg')
          %a{href: 'https://facebook.com/yuichiro.someya'}
            = image_tag('facebook.svg')
          %a{href: 'https://github.com/ayemos'}
            = image_tag('octocat.svg')
          %a{href: 'https://speakerdeck.com/ayemos'}
            = image_tag('speakerdeck.svg')
          %a{href: 'https://cookpad.com/kitchen/14570720'}
            = image_tag('cookpad.svg')
          %a{href: '/gpg.pub.txt'}
            = image_tag('gnupg.svg')
          %a{href: '/salary'}
            = image_tag('dollar.svg')
    .col-lg-12
      .text-center
        %p
          = image_tag('AWS_Certified_Logo_SAA_294x230_Color.png', width: '220px')
          = link_to 'https://www.certmetrics.com/amazon/public/badge.aspx?i=1&t=c&d=2017-05-31&ci=AWS00207276' do
            %p
              = image_tag('AWS_Certified_Tag__SAA_588x300-Color.png', height: '18px')
          = link_to 'https://www.certmetrics.com/amazon/public/badge.aspx?i=2&t=c&d=2017-10-24&ci=AWS00207276' do
            %p
              = image_tag('AWS_Certified_Tag__DVA_588x300-Color.png', height: '18px')
    .col-lg-12
      .text-center
        = link_to 'https://www.coursera.org/account/accomplishments/certificate/4R2B9YXWTUC7' do
          %p
            Machine Learning by Stanford University on Coursera. Certificate earned on June 15, 2016
.container-full
  .row
    .col-lg-12
      .delimiter.delimiter-03
.container
  .row
    .col-lg-12.caption
      .text-center
        %h2
          Career
    .col-xs-6
      .text-right
        %p
          2016 Apr. 1st
    .col-xs-6
      .text-left
        %p
          Cookpad Inc.
      .clearfix
    .col-xs-6
      .text-right
        %p
          2016 Mar. 31st
    .col-xs-6.text-left
      .text-left
        %p
          Master of CS
        %p
          Graduated School of Computer Science
        %p
          Tokyo Institute of Technology
      .clearfix
    .col-xs-6
      .text-right
        %p
          2014 Apr. 1st
    .col-xs-6
      .text-left
        %p
          Internship at Cosylab @ Slovenia
      .clearfix
    .col-xs-6
      .text-right
        %p
          2013 Apr. 1st
    .col-xs-6
      .text-left
        %p
          Graduated School of Computer Science
        %p
          Tokyo Institute of Technology
      .clearfix
    .col-xs-6
      .text-right
        %p
          2009 Apr. 1st
    .col-xs-6
      .text-left
        %p
          Tokyo Institute of Technology
      .clearfix
    .col-xs-6
      .text-right
        %p
          1990 Nov. 21th
    .col-xs-6
      .text-left
        %p
          Born.
      .clearfix
.container-full
  .row
    .col-lg-12
      .delimiter.delimiter-02
.container
  .row
    .col-lg-12.caption
      .text-center
        %h2
          Media & Publications
    .col-lg-12
      .text-center
        %h3
          エンジニアHub 2018/10/30
        %p
          = link_to 'データサイエンティストの定義は？必要スキルは？現役データエンジニア／アナリストと考えた結論', 'https://employment.en-japan.com/engineerhub/entry/2018/10/30/110000'
          
    .col-lg-12
      .text-center
        %h3
          Qiita:Zine 2018/05/23
        %p
          = link_to 'テーマは『Machine Learning(機械学習)』Qiita × Microsoft 共催 MeetUp レポート', 'https://zine.qiita.com/event-report/qiita-x-microsoft-meetup/'
    .col-lg-12
      .text-center
        %h3
          ログミーTech 2018/03/23
        %p
          = link_to '機械学習を取り入れた組織・サービスにおいて発生しがちな問題と、その解決方法', 'https://logmi.jp/293708'
    .col-lg-12
      .text-center
        %h3
          2017年度 人工知能学会全国大会
        %p
          = link_to 'クックパッドにおけるDeep Learningを用いた料理画像判別の取り組み', 'https://kaigi.org/jsai/webprogram/2017/paper-740.html'
    .col-lg-12
      .text-center
        %h3
          ITPro 2017/06/01
        %p
          = link_to 'クックパッド、料理写真の自動抽出を支える「機械学習基盤」を解説', 'http://itpro.nikkeibp.co.jp/atcl/column/17/052600214/060100007/'
    .col-lg-12
      .text-center
        %h3
          エンジニアHub 2017/04/24
        %p
          = link_to '機械学習の取り組みを次々と実装！ クックパッドの“即戦力”新卒エンジニアが活躍できる背景とは', 'https://employment.en-japan.com/engineerhub/entry/2017/03/24/110000'
.container-full
  .row
    .col-lg-12
      .delimiter.delimiter-03
.container
  .row
    .col-lg-12.caption
      .text-center
        %h2
          Works & Activities
    .col-lg-12
      .text-center
        %p
          Co-organizing 
          = link_to 'Tokyo Machine Learning Kitchen', 'https://www.meetup.com/ja-JP/tokyo-machine-learning-kitchen/'
    .col-lg-12
      .text-center
        %p
          OSS projects
          (See
          = link_to 'github', 'github.com/ayemos'
          )
